
<body>
  <div class ="center-container">
    <div class="container">
      <h3>ADMIN Log in</h3>
      <br/>
      Username:
      <br/>
      <input class = "btn-outline-dark rounded-pill"  type="text" [(ngModel)]="username" placeholder = "Username...">
      <br/>
      Password:
      <br/>
      <input class = "btn-outline-dark rounded-pill" type="password" [(ngModel)]="password" placeholder = "Password...">
      <br/>
      <button class="btn btn-primary" (click)="login()">Login</button>
      <br/>
    </div>
  </div>
</body>
